{
    "presets": [
        ["@babel/preset-env",
        {
          "targets": {
            "node": "9"
          }
        }]
    ],
    "plugins": ["@babel/plugin-transform-async-to-generator"]
  }